<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/scrum_game.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Scrum games </h3>
    <p>Understand the scrum master role and discover new ceremonies through the construction of a city in Lego ? This is the goal of the training given to our co-worker !</p>
    <!--<a class="project-link" href="#">Check it out</a><!-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/agile_training.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Agile trainings </h3>
    <p>Serious games are a good way to forward ideas with playful workshops</p>
  </div>
</div>
